{deps_dir, ["deps"]}.
{deps,[
    {n2o,     ".*",    {git, "git://github.com/5HT/n2o",   "master"}},
%    {mqs,     ".*",    {git, "git://github.com/synrc/mqs", "master"}},
    {kvs,     ".*",    {git, "git://github.com/spawnproc/kvs.social", "master"}},
    {shen,    ".*",    {git, "git://github.com/5HT/shen",  "master"}}
]}.
